<div class="center jumbotron">
  <h1>Welcome to the Rules on Wheels game website</h1>

  <h2>
    This is the home page for the Rules on Wheels game website, to play the game please sign up first :)
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag("logo.png", alt: "ROW logo")%>