<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="row section" id="about">
      <div class="large-3 columns small-centered"> 
        <h4 class="title center">About</h4>
      </div>
    </div>
    <div class="row section">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-1 columns">
            <b style="font-size:60px"><i class="icon-info"></i></b>    
          </div>
          <div class="large-5 columns">
            <b>About the Game</b>
              <p>Lorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull you</p>
          </div>
          <div class="large-1 columns">
            <b style="font-size:60px"><i style = "color:red;" class="icon-steering-wheel"></i></b>
          </div >
          <div class="large-5 columns">
            <b style= "color:red;">Instructions</b>
            <p>Lorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull you</p>
          </div >
        </div>
      </div>
    </div>


    <div class="row expanded section" id="game">
      <div class="large-12 columns">



        <!-- PUT YOUR GAME INSIDE HERE-->




      </div>
    </div>
    
    <div class="row section" id="gwap">
      <div class="large-3 columns small-centered"> 
        <h4 class="title center">GWAP Cluster</h4>
      </div>
    </div>
    <div class="row section" id="gwapContent">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-4 columns">
            <b style="font-size:40px"><i class="icon-info"></i></b>
            <br>
            <b>Who we are?</b>
            <p>Lorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull you</p>
          </div>

          <div class="large-4 columns">
            <b style="font-size:40px"><i class="icon-heart"></i></b>
            <br>
            <b>What we do?</b>
            <p>Lorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull you</p>
          </div>

          <div class="large-4 columns">
            <b style="font-size:40px"><i class="icon-gamepad"></i></b>
            <br>
            <b>How we do?</b>
            <p>Lorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull you</p>
          </div>
          
        </div>
      </div>
    </div>


    <div class="row footer section expanded" id="footer">
      <div class="large-12 columns">
        <p>Powered by the <b>GWAP</b> Cluster of the GUC</p>
      </div>
    </div>
  </body>
</html>