<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/fontello.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/gwap.css" />
  </head>
  <body>
    <div class="row full-height full-width center-vertical-parent">
      <div class="large-12 columns center-vertical">
        <h1 class="">RoadSkins</h1>
        <div class="row">
          <div class="small-5 columns small-centered">
            <p>Lorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull youLorem ipsum. follow me into the light, with ice in a lake of tears I'll pull you</p>
          </div>
        </div>
        
        <form class="center">
          <div class="row">
            <div class="large-3 columns small-centered">          
              <input type="text" placeholder="First Name">
            </div>
          </div>
          <div class="row">
            <div class="large-3 columns small-centered">
              <input type="text" placeholder="e-mail">
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns small-centered">
              <input type="text" placeholder="password">
            </div>
          </div>

          <div class="row">
            <div class="large-3 columns small-centered">
              <input type="text" placeholder="confirm password">
              <a class="button full-width">Sign Up</a>
              <a href="login.html" class="button secondary full-width">Login</a>
            </div>
          </div>
        </form> 
        <div class="row footer" id="footer">
          <div class="large-12 columns">
            <p>Powered by the <b>GWAP</b> Cluster of the GUC</p>
          </div>
        </div>
      </div>
    </div>

    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
